body {
    background-color: lightgray;
}

.jumbotron {
    background-image: url(https://res.cloudinary.com/dtybx6nov/image/upload/v1600225426/kym-mackinnon-KrrVNx8R640-unsplash_xrhzru.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-family: ;
    text-align: center;
}

.about-me {
    background-color: lightgray;
}

.previous-works {
    background-color: darkgray;
}

.skills {
    background-color: lightgray;
}

.resume {
    background-color: darkgray;
}

.contact-me {
    background-color: lightgray;
}

.footer {
    text-align: center;
}