body {
    background-color: lightgray;
    font-family: 'Red Hat Display', sans-serif;


}

.jumbotron {
    background-image: url(https://res.cloudinary.com/dtybx6nov/image/upload/v1600225426/kym-mackinnon-KrrVNx8R640-unsplash_xrhzru.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: lightgrey;
    text-align: center;
}

h1.jumbotron {
    font-family: 'Press Start 2P', cursive;
}

.about-me {
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.previous-works {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.row {
    content: "";
    display: table;
    clear: both;
}

/* .skills {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
} */

.resume {
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-me {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer {
    text-align: center;
}